/* Center and set max width */
.table-container {
  margin: 0 auto; /* Center the container */
  max-width: 100%; /* Set max width */
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 3px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap; /* Prevent text from wrapping */
  color: #333; /* Change text color */
  font-family: Arial, sans-serif; /* Change font-family */
}

th {
  background-color: #f2f2f2;
}

/* Style the avatar */
img.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Style the pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  margin: 0 3px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Change font-family */
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

/* Style the navigation buttons */
.pagination .btn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Change font-family */
}

.pagination .btn:hover {
  background-color: #45a049;
}

/* Add hover effect for table rows */
tbody tr:hover {
  background-color: #f5f5f5;
}

/* Make the table responsive */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (thead) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Add some spacing and background color for readability */
    margin-bottom: 4px;
    background-color: #ffffff;
  }

  th,
  td {
    border-bottom: 0;
  }

  /* Show table data (td) as full-width blocks */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    width: 50%;
  }
}
